<%- include("partials/header") %>

<h1>Compose</h1>


<form action="/compose" method="POST" >
    
    
    <div class="mb-3">
    
        <label for="inputTitle" class="form-label">Title</label>
        <input type="text" class="form-control" name="textTitle" id="inputTitle" aria-describedby="titleHelp">

    </div>
    
    <div class="mb-3">
    
        <label for="textAreaPost" class="form-label">Post</label>

    
        <textarea name="textPost" class="form-control" id="textAreaPost" cols="160" rows="10"></textarea>
    </div>


    <button type="submit" class="btn btn-primary btnTopMargin">Publish</button>
    <button class="btn btn-danger btnTopMargin"><a href="/">Cancel</a></button>

</form>

<%- include("partials/footer") %>